<div class="container text-center">
  <h1 class="mt-4 mb-4">Simulación de Autobús</h1>
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary me-2" (click)="startSimulation()" [disabled]="simulationRunning">Iniciar Simulación</button>
      <button class="btn btn-danger" (click)="stopSimulation()" [disabled]="!simulationRunning">Detener Simulación</button>
    </div>
  </div>

  <div class="bus-container position-relative">
    <img
      #busImage
      src="https://static.vecteezy.com/system/resources/thumbnails/022/530/573/small/school-bus-isolated-cartoon-png.png"
      alt="Bus"
      class="bus-image"
    />
  </div>

  <div class="stops-container">
    <div *ngFor="let stop of busStops" [id]="'stop-' + stop.id" class="stop">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ stop.nombre }}</h5>
          <p class="card-text">Personas en Espera: {{ stop.personasEnEspera }}</p>
          <p class="card-text">Personas Abordadas: {{ stop.personasAbordo }}</p>
          <p class="card-text">Personas Desembarcadas: {{ stop.personaDesembarcada }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <canvas #chart></canvas>
    </div>
  </div>

  <div class="row" *ngIf="!simulationRunning && stats.totalTransportado > 0">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Estadísticas de la Simulación</h2>
          <p class="card-text">Total Transportado: {{ stats.totalTransportado }}</p>
          <p class="card-text">Restantes en el Autobús: {{ stats.faltanteEnBus }}</p>
          <p class="card-text">Dejados Atrás: {{ stats.abandonados }}</p>
          <div *ngFor="let stopId of busStopIds">
            <p class="card-text">Parada {{ stopId }}: {{ stats.transportadosPorParada[stopId] || 0 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
