.bus-container {
  position: relative;
  height: 150px;
}

.bus {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #ffcc00;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bus:before,
.bus:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 50%;
  border: 2px solid #000;
}

.bus:before {
  left: 10px;
  bottom: 10px;
}

.bus:after {
  right: 10px;
  bottom: 10px;
}

.stops-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stop {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.bus-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
